:root {
    --blackClr: #000000;
    --whiteClr: #FFF;
    --whiteOpacityClr: rgba(255, 255, 255, .1);
    --purpleClr: rgb(77, 0, 128);
    --purpleOpacityClr: rgba(77, 0, 128, .7);
    --lightPurpleClr: rgba(118, 35, 173, 0.566);
    --blackOpacityClr: rgba(0,0,0,.3);
    --yellowClr: rgb(154, 115, 30);
    --brownClr: #40250f;
    --bigFont: 'RifficFree-Bold', sans-serif;
    --brightYellowClr: yellow;
    --yellowClr2: #FBCA01;
    --yellowOpacityClr: rgba(251, 202, 1, .2);
    --lightYellowClr: rgba(236, 236, 50, 0.542);
    --orangeClr: rgb(241, 107, 18);
    --diamondPinkClr: rgb(183 103 205);
    --grayClr: rgb(51 45 39);
    --lightBlueClr: rgb(95, 221, 204, .6)
}