@import 'mixins';
@import 'variables';
@import 'general-styles';

.content {
    
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 1em;
    z-index: 50;

    &__logoContainer {
        margin-top: 1em;
        place-self: start center;
        grid-area: logo;
        width: 65%;
    }

    &__minerPicContainer img {
        height: 100%;
        object-fit: cover;

        @include for-phone {
            object-fit: contain;
        }
    }

    &__minerPicContainer {
        height: 100%;
        position: relative;
        top: 25%;

        @include for-phone {
            top: 0;
        }
    }

    &__minerPicContainer--first {
        grid-area: miner1;
        place-self: end start;

        @include for-phone {
            display: none;
        }
    }

    &__minerPicContainer--second {
        grid-area: miner2;
        place-self: end center;
        @include for-phone {
            display: none;
        }
    }

    &__cta {
        grid-area: cta;
        @include dispFlex(column, center, center, nowrap);
    }

    &__ctaLink {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        border-radius: 10px;
        font-size: 2em;
        z-index: 20;
    }

    &__ctaLink:first-child {
        font-size: 2.4em;
        padding: .3em .7em;

        @include for-phone {
            font-size: 1.7em;
        }
    }

    &__ctaLink:nth-child(2) {
        margin-top: .5em;
        font-size: 1.4em;
        padding: .3em 1em;
        line-height: .9;
    }

    .socialMedia {
        grid-area: socialmedia;
        place-self: end center;

    }

}

.content:first-of-type {

    .content__top {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
         "miner1 logo miner2"
         "miner1 cta miner2"
         "miner1 socialmedia miner2";
        height: 100%;
        width: 100%;
        transition: opacity .5s ease-out, transform .2s ease-out;

        @include for-phone {
            grid-template-rows: min-content 1fr min-content;
            grid-template-areas:
            "logo logo logo"
            ". cta ."
            "socialmedia socialmedia socialmedia";
        }
    }

    
    .socialMedia {
        
        width: 100%;
        
        h2 {
            font-size: 1.3em;
            text-transform: uppercase;
            color: var(--whiteClr);
            text-align: center;
            letter-spacing: 1px;

            @include for-phone {
                font-size: 1.1em;
            }
        }
        
        &__iconsContainer {
            
            margin: .8em 0 .3em;
            @include dispFlex(row, space-around, center, wrap);
            padding: 0 5%;
            
        }
        
        &__item {
            width: 4em;
            height: 4em;
            position: relative;
            transition: transform .3s ease-out;

            &:hover {
                transform: scale(1.1);
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 2.2em;
                height: 2.2em;
                transform: translate(-50%, -50%);
            }

            .circle {
                position: absolute;
                top: 0;
                left: 0;
                height: 4em;
                width: 4em;

                ellipse {
                    stroke-dasharray: 200;
                    stroke-dashoffset: 200;
                    stroke: var(--whiteOpacityClr);
                    stroke-width: 1.5;
                    transition: stroke-dashoffset .5s ease-out, transform .4s ease-out;
                    fill: transparent;
                }

                &:hover {

                    ellipse {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 200;
                    }
                }
            }
        }
    }

    .background {
        
        position: fixed;
        transition: filter 1.2s ease-out;

        img {
            position: absolute;
            transition: transform .2s ease-out;

            &:first-child {
                z-index: 5;
            }

            &:nth-child(2) {
                z-index: 15;
            }

            &:nth-child(3) {
                z-index: 20;
                bottom: -5%;
            }

            &:nth-child(4) {
                
                opacity: .5;
                z-index: 10;
                top: -30%;
                left: 0;
                width: 30%;
                animation: moveCloud 60s infinite ease-out;
                object-fit: contain;

                @include for-phone {
                    animation: none;
                    display: none;
                }
            }

            &:nth-child(5) {
                
                opacity: .5;
                z-index: 20;
                top: -20%;
                left: 0;
                width: 30%;
                z-index: 10;
                animation: moveCloud 40s infinite ease-out;
                object-fit: contain;

                @include for-phone {
                    animation: none;
                    display: none;
                }
            }

            &:nth-child(6) {
                z-index: 5;
                animation: animateStars 1.5s linear infinite;
            }

            &:last-child {
                z-index: 5;
                animation: animateStars2 1.5s linear infinite;
            }
        }

        @keyframes animateStars {

            0% {
                filter: brightness(100%);
            }
            50% {
                filter: brightness(30%);
            }
            100% {
                filter: brightness(100%);
            }
      
        }

        @keyframes animateStars2 {

            0% {
                filter: brightness(30%);
            }
            50% {
                filter: brightness(100%);
            }
            100% {
                filter: brightness(30%);
            }
      
        }

        @keyframes moveCloud {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(100vw);
            }
        }
    }

}

.content:nth-of-type(2) {

    z-index: 60;

    @include dispFlex(row, center, center, nowrap);

    .content__top {
        position: relative;
        bottom: 0;
        transition: transform .2s ease-out;

        @include for-phone {
            bottom: unset;
        }
    }

    .seasonTitle {

        width: 100vw;
        padding: 2em;
        border-top: 3px solid var(--yellowClr);
        border-bottom: 3px solid var(--yellowClr);
        background: var(--blackOpacityClr);
        text-align: center;
        z-index: 30;

        @include for-phone {
            padding: 1.2em .8em;
        }

        h3 {
            color: var(--whiteClr);
            font-size: 2.5em;
            letter-spacing: 2px;

            span {
                position: relative;
                display: inline-block;
            }

            @include for-phone {
                font-size: 1.3em;
            }
        }

    }

    .background {

        height: 200vh;
        transition: transform .2s ease-out, opacity 1s ease-out;

        @include for-phone {
            top: unset;
            bottom: 0;
            height: 100vh;
        }

        .caveBackground {
            position: absolute;
            right: 3%;
            bottom: 15%;
            width: 50vw;
            height: 50vh;
            z-index: 30;

            @include for-phone {
                display: none;
            }

            img {
                object-fit: contain;
           
            }

            img:first-child {
                z-index: 10;
            }
    
            img:nth-child(2) {
                z-index: 15;
                opacity: .5;
            }
    
            img:last-child {
                z-index: 20;
            }
        }

        img:first-child {
            z-index: 5;
        }

    }

}

.content:nth-of-type(3) {

    height: 150vh;
    background-color: var(--blackClr);

    @include dispFlex(column, flex-start, center, nowrap);
    z-index: 160;
    padding: 0em 0 8em;

    box-shadow: -100px 30px 60px var(--blackClr), 100px 30px 60px var(--blackClr), -200px 30px 60px var(--blackClr), 200px 30px 60px var(--blackClr);

    @include for-phone {
        padding: 0;
        box-shadow: none;
    }

    .content__top {
        
        z-index: 20;
        position: absolute;
        top: 25%;
        width: 40%;
        @include dispFlex(column, flex-start, center, nowrap);

        @include for-phone {
            width: 65%;
        }

        h4 {
            font-size: 1.8em;
            color: var(--whiteClr);
            text-align: center;

            @include for-phone {
                font-size: 1.3em;
            }
        }

        h3 {
            font-size: 2.5em;
            margin-top: .5em;
            line-height: 1.1;
            color: var(--whiteClr);
            text-align: center;

            @include for-phone {
                font-size: 1.8em;
            }
        }

        p {
            font-size: 1.1em;
            line-height: 1.3;
            text-align: center;
            margin-bottom: 1em;
        }

        a {
            border: 1px solid var(--whiteClr);
            margin-top: 2em;
            border-radius: 10px;
            padding: .4em 1em;
            background: var(--blackOpacityClr);
            font-size: 1.7em;
            text-transform: uppercase;
            color: var(--whiteClr);
            font-family: var(--rifficFreeBold);
            letter-spacing: 1.6px;
            transition: box-shadow .3s ease-out, background .3s ease-out;

            &:hover {
                background: var(--purpleOpacityClr);
                box-shadow: 0 0 30px 10px var(--purpleOpacityClr);
            }
        }

    }

    .background {
        width: 100%;
        z-index: 10;
        position: relative;
        
        #particles-js {
            z-index: 8;
            position: absolute;
            width: 50%;
            left: 25%;
            height: 100%;
        }

        img {
            position: absolute;
            top: 0;
            transition: transform .4s ease-out;
            object-fit: cover;

            &:first-child {
                z-index: 6;          
            }

            &:nth-child(2) {
                z-index: 5;
            }
            
            &:nth-child(3) {
                z-index: 4;
            }
            
            &:nth-child(4) {
                z-index: 3;           
            }
            
            &:nth-child(5) {
                z-index: 2;
            }

            &:nth-child(6) {
                z-index: -1;
            }
        }
    }

}

.content:nth-of-type(4) {
    
    @include dispFlex(row, space-around, center, nowrap);
    background-color: var(--blackClr);
    position: relative;

    @include for-phone {
        height: 100%;
        z-index: 170;
        box-shadow: -100px -130px 160px var(--blackClr), 100px -130px 160px var(--blackClr), -200px -130px 160px var(--blackClr), 200px -130px 160px var(--blackClr);
    }

    .content__left {

        @include dispFlex(column, space-between, center, nowrap);
        width: 50%;
        height: 80%;

        @include for-phone {
            width: 100%;
            height: 100%;
        }

        .titleContainer {

            h3 {
                color: var(--yellowClr);
                font-size: 3em;
                letter-spacing: 1px;

                @include for-phone {
                    font-size: 2em;
                    text-align: center;
                    margin-bottom: 1em;
                }
            }
        }

        .selectedMiner__info {

            position: relative;
            padding: 1em;
            border-radius: 15px;
            z-index: 10;
            width: 90%;
            min-height: 30%;
            overflow: hidden;

            @include for-phone {
                width: 100%;
                padding: .5em;
                margin-top: 1em;
            }

            .selectedMiner__title {
                border-bottom: 1px solid var(--whiteClr);
                color: var(--yellowClr);
                text-align: center;
                padding-bottom: .5em;
                font-size: 1.3em;

                @include for-phone {
                    font-size: 1em;
                }
            }

            p {
                padding: .5em .8em;
                color: var(--whiteClr);
                font-family: var(--varelaRoundFont);
                line-height: 1.4;
                letter-spacing: 1px;
                font-size: .9em;

                @include for-phone {
                    padding: .5em .2em;
                    font-size: .7em;
                }
            }
        }

        .minerChoice {
            width: 100%;

            &__minerTypes {
                @include dispFlex(row, space-between, flex-end, nowrap);
                width: 100%;
                position: relative;
                bottom: -.35em;

                @include for-phone {
                    @include dispFlex(column, space-around, flex-start, nowrap);
                }
            }

            &__miner {
                
                @include dispFlex(column, space-between, center, nowrap);
                cursor: pointer;
                width: 20%;

                @include for-phone {
                    @include dispFlex(column-reverse, space-between, center, nowrap);
                    width: 40%;
                    margin-bottom: 1.5em;
                }
            }

            &__picture {

                position: relative;
                height: 4.5em;
                width: 4.5em;
                background: var(--whiteClr);
                border: 2px solid var(--diamondPinkClr);
                border-radius: 50%;
                filter: grayscale(100%);
                transition: filter .3s ease-out, transform .3s ease-out;
                z-index: 10;

                @include for-phone {
                    height: 2em;
                    width: 2em;
                }

                &:hover {
                    filter: grayscale(0%);
                    transition-delay: 0s, .6s;
                }

                &.colored {
                    filter: grayscale(0%);
                    transform: scale(1.07);
                }

                &::before {
                    position: absolute;
                    z-index: -1;
                    content: '';
                    top: -10px;
                    left: -10px;
                    right: -10px;
                    bottom: -10px;
                    border-radius: 50%;
                    border: 3px outset var(--yellowClr);
                    opacity: .5;
                    animation: rotateCircle 7s ease-in-out infinite;
                    transition: background .3s ease-out, border .5s ease-out;
                }

                @keyframes rotateCircle {
                    0% {
                        transform: rotate(0deg);
                    }
                    25% {
                        transform: rotate(90deg);
                    }
                    50% {
                        transform: rotate(180deg);
                    }
                    75% {
                        transform: rotate(270deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            &__additionalInfo {
                margin-bottom: 1.5em;
                width: 100%;
                color: var(--whiteClr);

                @include for-phone {
                    margin-bottom: 0;
                    margin-top: 1em;
                }

                h4 {
                    transition: color .4s ease-out;
                    text-align: center;
                    position: relative;
                    font-size: .8em;
                    letter-spacing: 1.5px;
                }

                &.active {
                    h4 {
                        color: var(--yellowClr);
                    }
                }

            }

            &__selectionBar {
                position: relative;
                @include dispFlex(row, space-between, flex-end, nowrap);
                width: 100%;
                height: 100%;

                &::before {
                    position: absolute;
                    content: '';
                    width: 110%;
                    left: -5%;
                    height: 1px;
                    background: var(--whiteClr);
                    border-radius: 20px;

                    @include for-phone {
                        display: none;
                    }
                }

                .movingCircle {

                    position: absolute;
                    transition: transform .5s ease-out;
                    left: 8.5%;

                    @include for-phone {
                        display: none;
                    }

                    &__roundedCircle {
                        position: absolute;
                        bottom: -.7em;
                        width: 1.5em;
                        height: 1.5em;
                        border-radius: 50%;
                        border: 2px solid var(--diamondPinkClr);
                        background: var(--whiteClr);

                        &::before {
                            position: absolute;
                            content: '';
                            width: .5em;
                            height: .5em;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            background: var(--lightPurpleClr);
                        }
                    }

                    &__verticalBar {
                        position: absolute;
                        bottom: 0;
                        left: .7em;
                        width: 1px;
                        height: .8em;
                        background: var(--diamondPinkClr);
                        z-index: -1;
                        transform: scaleY(0);
                        transform-origin: bottom;
                      
                    }
                
                    
                }


            }

        }

    }

    .content__right {

        @include dispFlex(column, center ,center ,nowrap);
        width: 40%;
        height: 80%;

        @include for-phone {
            position: absolute;
            right: -6%;
            top: 5%;
            width: 80%;
            height: 50%;
        }

        .playNowBtn {
            border: 1px solid var(--purpleClr);
            padding: .5em 1em;
        }

        .selectedMiner {

            @include dispFlex(column, center, center, nowrap);
            height: 90vh;
            width: 100%;

            &__picture {
                height: 100%;
                width: 100%;
                position: relative;
            }

            &__image {
                position: absolute;
                opacity: 0;
                transition: opacity .5s ease-out;
                object-fit: cover;

                &.show {
                    opacity: 1;
                }

                &:first-child {
                    height: 68%;
                    bottom: 0;
                    left: 34%;
                }
    
                &:nth-child(2) {
                    height: 108%;
                    bottom: -18.5%;
                    left: 10.5%;
                }
                
                &:nth-child(3) {
                    height: 133%;
                    bottom: -29.8%;
                    left: 11.5%;
                }

                &:nth-child(4) {
                    height: 125%;
                    bottom: -24.5%;
                    left: 4%;
                }

                &:nth-child(5) {
                    height: 89%;
                    left: 17.5%;
                    bottom: -7.8%;
                }
            }
        }

    }

    .background {
        height: 200vh;

        @include for-phone {
            height: 200%;
        }
    }

}

.content:nth-of-type(5) {

    @include dispFlex(column, flex-start, center, nowrap);
    padding: 1em 0 1em 3em;
    z-index: 190;

    @include for-phone {
        padding: 1em;
    }

    .content__top {
       
        align-self: flex-start;

        @include for-phone {
            align-self: center;
        }

        .titleContainer {
            color: var(--yellowClr);
            font-size: 3em;
            letter-spacing: 1px;

            @include for-phone {
                font-size: 1.8em;
                margin-bottom: 1em
            }
        }
    }

    .content__bottom {
  

        @include dispFlex(row, space-between, center, nowrap);
        width: 100%;
        height: 80%;

        @include for-phone {
            @include dispFlex(column, space-between, center, nowrap);
        }

        .mineSelector {

            @include dispFlex(column, space-between, center, nowrap);
            width: 30%;
            height: 70%;

            @include for-phone {
                width: 90%;
                height: unset;
                @include dispFlex(row, space-between, center, wrap);
            }

            &__item {
                position: relative;
                @include dispFlex(row, flex-end, flex-start, nowrap);
                width: 100%;
                height: 3em;
                cursor: pointer;

                @include for-phone {
                    width: unset;
                    height: unset;

                    &:hover {
                        filter: drop-shadow(0px 0px 10px var(--yellowClr));
                    }

                    &:nth-child(3), &:nth-child(4) {
                        filter: grayscale(100%);
                    }

                    & + * {
                        margin-left: .4em;
                    }
                }
            }

            &__flipFace {
                
                position: absolute;
                @include dispFlex(row, flex-end, center, nowrap);
                width: 100%;
                cursor: pointer;
                transition: transform .5s ease-out;
                transform-style: preserve-3d;

                @include for-phone {
                    display: none;
                }

                & + * {
                    margin-top: 5em;
                }

                &.revealed {
                    transform: rotateX(90deg)
                }

            }

            &__face {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            &__front {
                transform: translateZ(.5em);
            }

            &__back {
                transform: rotateX(-90deg) translateZ(.5em);

                h4 { 
                    color: var(--yellowClr);
                }
            }

            &__picture {

                position: absolute;
                width: 5em;
                top: -1.2em;
                left: -10%;
                z-index: 30;

                @include for-phone {
                    position: relative;
                    top: unset;
                    left: unset;
                    width: 3.5em;
                }
            }

            &__picture--bigger {
                width: 6.5em;
                left: -13%;

                @include for-phone {
                    left: unset;
                    width: 5.5em;
                }
            }

            &__picture--bigger2 {
                width: 5.5em;
                left: -11%;

                @include for-phone {
                    left: unset;
                    width: 4.5em;
                }
            }

            &__title {

                padding: .3em .7em .3em 2em;
                color: var(--whiteClr);
                border-left: none;
                border-right: none;
                text-align: right;
                font-size: 1.5em;
                width: 100%;
            }
        }

        .selectedMine {

            position: relative;
            @include dispFlex(column, space-between, center, nowrap);
            width: 61%;
            height: 76%;

            @include for-phone {
                width: 100%;
            }

            &__picture {
                border: 2px solid var(--whiteOpacityClr);
                border-radius: 15px;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                background: var(--blackClr);

                video {
                    position: absolute;
                    width: 101%;
                    left: -1%;
                    height: 102%;
                    top: -1%;
                    left: 0;
                    object-fit: cover;

                    @include for-phone {
                        object-fit: contain;
                    }
 
                }

                .playButton {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 12em;
                    height: 12em;
                    background: none;
                    border: none;
                    z-index: 40;
                    transition: opacity .3s ease-out;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &.clicked {
                        opacity: 0;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        border: 15px solid var(--yellowClr);
                        border-radius: 50%;
                        top: -20px;
                        left: -20px;
                        right: -20px;
                        bottom: -20px;
                        animation: bloom 4s linear infinite;
                        opacity: 0;
                        z-index: -1;
                    }
                }

                @keyframes bloom {
                    0% {
                        transform: scale(.5);
                    }
                    40% {
                        opacity: .6;
                    }
                    50% {
                        transform: scale(1.3);
                        opacity: .6;
                    }
                    55% {
                        transform: scale(1.32);
                        opacity: .5;
                    }

                    60% {
                        transform: scale(1.35);
                        opacity: .4;
                    }

                    65% {
                        transform: scale(1.4);
                        opacity: .2;
                    }

                    70% {
                        transform: scale(1.45);
                        opacity: 0;
                    }

                    100% {
                        transform: scale(1.42);
                        opacity: 0;
                    }
                }
            }

            &__cta {
                border: 1px solid var(--purpleClr);
                margin-bottom: .7em;

                a {
                    display: block;
                    padding: .5em 2em;
                    font-size: 1.2em;
                    color: var(--whiteClr);
                    background: var(--blackOpacityClr);
                }
            }

        }

    }

}

.content:nth-of-type(6) {

    background-color: var(--purpleClr);
    padding: 15em 0 1em;
    height: 100%;

    .background img {
        height: 101%;
        top: -1%;
    }

    .content__top {

        h3 {
            color: var(--whiteClr);
            font-size: 2.6em;
            text-align: center;

            @include for-phone {
                font-size: 2em
            }
        }
    }

    .content__bottom {

        @include dispFlex(column, space-around, center, nowrap);
        margin: 5% 0;
        position: relative;

        .swiperSelector {

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 60%;
            z-index: 50;
            box-shadow: 0 0 20px 0 var(--whiteClr2);
            border-radius: 50px 50px 0 0;


            @include for-phone {
                box-shadow: none;
                top: 2%;
                height: 15%;
                width: 60%;
                z-index: 70;
            }

            &__left {
                position: absolute;
                left: -13.5%;
                bottom: 4%;
                padding: 6% 7%;
                background: var(--blackOpacityClr);
                border-radius: 40px 0 0 40px;
                box-shadow: 0 0 12px var(--whiteClr2);
                cursor: pointer;
                z-index: 70;

                @include for-phone {
                    background: none;
                    box-shadow: none;
                }

                &:hover .swiperSelector__icon {
                    background: var(--yellowClr);
                }

                &:hover img {
                    filter: invert(50%)
                }

            }

            &__right {
                position: absolute;
                right: -13.5%;
                bottom: 4%;
                padding: 6% 7%;
                background: var(--blackOpacityClr);
                border-radius: 0 40px 40px 0;
                box-shadow: 0 0 12px var(--whiteClr2);
                cursor: pointer;
                z-index: 70;

                @include for-phone {
                    background: none;
                    box-shadow: none;
                }

                &:hover .swiperSelector__icon {
                    background: var(--yellowClr);
                }

                &:hover img {
                    filter: invert(50%)
                }
            }

            &__icon {
                position: inherit;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 4em;
                height: 4em;
                background: var(--grayClr);
                border-radius: 50%;
                z-index: 20;
                transition: background .2s linear;
    
                img {
                    position: inherit;
                    width: 60%;
                    height: 60%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 20;
                }
            }

        }
        
        .blogUpdatesSwiper {
            
            border-radius: 50px;
            width: 70%;
            height: 100%;
            overflow: hidden;
            z-index: 60;

            @include for-phone {
                width: 94%;
            }
        }

        .featured-post {

            height: 100%;
            cursor: pointer;

            &__link {
                width: 100%;
                height: 100%;
            }

            &__item {
                display: block;
                @include dispFlex(column, stretch, center, nowrap);
            }

            &__picture {
                height: 55vh;
                overflow: hidden;

                &:hover img {
                    transform: scale(1.04) rotate(-.5deg);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 0%;
                    transition: transform .4s ease-out;
                }
            }

            &__about {

                position: relative;
                @include dispFlex(column, flex-start, center, wrap);
                padding: 2.5em 1.5em 1.8em;
                background: linear-gradient(to bottom, var(--blackOpacityClr) 30%, var(--orangeOpacityClr));
                border-radius: 0 0 50px 50px;

                @include for-phone {
                    padding: 2.5em 1.2em 1.2em;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -16%;
                    left: 48%;
                    width: 3.4em;
                    height: 3.8em;
                    background: url('../img/pickAxeShield.png') no-repeat;
                    background-size: 100%;
                }
            }

            &__title {
                color: var(--whiteClr);
                font-size: 2.5em;
                text-align: center;
                text-transform: none;

                &::first-letter {
                    text-transform: uppercase;
                }

                @include for-phone {
                    font-size: 2em;
                }
            }

            &__description {
                margin-top: 1.2em;
                color: var(--whiteClr);
                width: 80%;
                font-size: 1em;
                line-height: 1.4;
                text-align: center;
                font-weight: lighter;
                font-family: var(--varelaRoundFont);
            }
        }
    }

} 

.content:nth-of-type(7) {

    height: 100%;
    padding: 2em 0;

    @include dispFlex(column, space-around, center, nowrap);
    background-color: var(--purpleClr);

    .background img {
        height: 101%;
        top: -1%;
    }

    @include for-phone {
        z-index: 190;
    }

    .titleContainer {

        color: var(--whiteClr);
        font-size: 3em;
        text-align: center;
        margin-bottom: 2em;
    }

    .content__bottom {


        @include dispFlex(column, space-around, center, nowrap);
        height: 80%;
        width: 100%;

        @include for-phone {
            width: 100%;
        }

        .team {
            @include dispFlex(column, space-between, center, nowrap);
            width: 100%;
            position: relative;

            @include for-phone {
                width: 70%;
            }

            &::before {
                content: '';
                position: absolute;
                left: -1em;
                top: 20%;
                width: 1em;
                height: 50%;
                background-color: transparent;
                z-index: 30;
                box-shadow: 0 0px 200px 120px var(--purpleClr);
                @include for-phone {
                    display: none;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -1em;
                top: 20%;
                width: 1em;
                height: 60%;
                background-color: transparent;
                z-index: 30;
                box-shadow: 0 0px 200px 120px var(--purpleClr);
                @include for-phone {
                    display: none;
                }
            }

        }

        .partners {
            margin: 2em;
            width: 60%;
        }
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide  {

        &-img {
            position: relative;
            height: 14em;
            transition: transform .5s ease-out, filter .3s ease-out;
            transform-style: preserve-3d;

            img {
                width: 100%;
                height: 100%;
                bottom: -.3em;
                object-fit: contain;
            }

            &.isFlipped {
                transform: rotateY(180deg);
            }

        }

        &-face {
            position: absolute;
            border: 2px solid var(--yellowClr);
            border-radius: 10px;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: filter .2s linear;

            &:hover {
                filter: brightness(120%);
            }

            &-front {
                background: linear-gradient(to top, var(--blackClr) 23%, var(--darkPurpleClr));
            }

            &-back {
                transform: rotateY(180deg);
                background: linear-gradient(to bottom, var(--blackClr) 23%, var(--darkPurpleClr));
            }
        }

        .personalNetworks {

            width: 100%;
            height: 100%;

            @include dispFlex(row, center, center, nowrap);
            img {
                width: 3em;


            }

            a {
                transition: transform .3s linear;
            }

            a:hover {
                transform: scale(1.05);
            }

            a + a {
                margin-left: 1em;
            }
        }

        h4 {
            margin-top: .8em;
            font-size: 1.5em;
            color: var(--whiteClr);
            text-align: center;
            text-transform: capitalize;
            letter-spacing: 1px;
        }

        p {
            margin: .7em 0;
            text-transform: uppercase;
            font-size: 1em;
            text-align: center;
            color: var(--yellowClr);
            font-weight: 700;
        }
    }

    .teamCategorySelBar {
        width: 60%;
        margin: 2em 0 3em;
        @include dispFlex(row, space-between, flex-end, nowrap);


        &__item {
            position: relative;
            width: 22%;
            height: 4em;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 45%;
                width: 100%;
                height: .3em;
                background: var(--whiteClr);
                border-radius: 8px;
                transition: filter .3s ease-out, background .2s linear;
            }

            &:hover::before {
                background: var(--diamondPinkClr);
                filter: drop-shadow(0 5px 10px var(--diamondPinkClr))
            }


            &.clicked::before {
                background: var(--diamondPinkClr);
            }
        }
    }

    .listedPartners {

        margin-top: 5%;
        @include dispFlex(row, space-around, center, wrap);

        &__logo {
            position: relative;
            width: 10em;
            height: 100%;
            transition: filter .3s ease-out, transform .4s ease-out;

            &:hover {
                filter: drop-shadow(-2px -2px 40px var(--purpleOpacityClr)) drop-shadow(2px 2px 40px var(--purpleOpacityClr));
                transform: scale(1.05);
            }

            @include for-phone {
                width: 7em;
            }

            &:nth-child(2) {
                width: 13em;

                @include for-phone {
                    width: 9.5em;
                    margin-top: 1.5em;
                }
            }

            &:last-child {
                @include for-phone {
                    margin-top: 1.5em
                }
                
            };

        }

        @include for-phone {
            .listedPartners__logo:last-child {
                margin-top: 1.2em;
            }
        }

    }

}

footer {
    @include dispFlex(row, center, center, nowrap);
    position: relative;
    height: 5vh;
    width: 100%;
    background-color: var(--darkPurpleClr);
    z-index: 200;

    h4 {
        color: var(--whiteClr);
        letter-spacing: 1px;
    }
}