@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --blackClr: #000000;
  --whiteClr: #FFF;
  --whiteClr2: rgba(255, 255, 255, .5);
  --whiteOpacityClr: rgba(255, 255, 255, .1);
  --purpleClr: rgb(77, 0, 128);
  --purpleOpacityClr: rgba(77, 0, 128, .7);
  --lightPurpleClr: rgba(118, 35, 173, 0.566);
  --blackOpacityClr: rgba(0,0,0,.3);
  --brownClr: #40250f;
  --darkPurpleClr: #340066;
  --yellowClr: #FBCA01;
  --yellowOpacityClr: rgba(251, 202, 1, .2);
  --lightYellowClr: rgba(236, 236, 50, 0.542);
  --orangeClr: rgb(241, 107, 18);
  --orangeOpacityClr: rgba(241, 107, 18, .3);
  --diamondPinkClr: rgb(183 103 205);
  --grayClr: rgb(114, 114, 114);
  --lightBlueClr: rgb(95, 221, 204, .6);
  --rifficFreeBold: "RifficFree-Bold", sans-serif;
  --varelaRoundFont: "Varela Round", sans-serif;
}

@font-face {
  font-family: RifficFree-Bold;
  src: url("../fonts/RifficFree-Bold.ttf");
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: var(--rifficFreeBold);
}

h2, h3, h4 {
  font-family: var(--rifficFreeBold);
  text-transform: uppercase;
}

body {
  background-color: var(--blackClr);
  overflow-x: hidden;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.background img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.glassmorphism {
  text-decoration: none;
  border: 1px solid var(--whiteOpacityClr);
  background: var(--whiteOpacityClr);
  color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: background 0.3s ease-out;
}

.glassmorphism:hover {
  background: rgba(255, 255, 255, 0.2);
}

.opacity {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.1;
}

.brightFilter {
  filter: brightness(50%);
}

.opacity.appears {
  opacity: 1;
}

.fade {
  filter: brightness(20%);
  transition: filter 1.2s ease-out;
}

.fade.appears {
  filter: brightness(100%);
}

.smallCircle {
  margin-top: 4em;
  position: relative;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background: var(--whiteClr);
  z-index: 10;
  transition: transform 0.3s ease-out;
}
.smallCircle.selected {
  transform: scale(0);
}
@media screen and (max-width: 900px) {
  .smallCircle {
    display: none;
  }
}

/* Language Selector */
.langSelector {
  margin-top: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.langSelector button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5em 0.8em;
  border: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
}
.langSelector img {
  width: 3em;
}
.langSelector .currentLang {
  width: 100%;
  border-radius: 5px;
  z-index: 500;
}
.langSelector .langList {
  overflow: hidden;
  position: absolute;
  top: 100%;
}
.langSelector .langList__inner {
  transform: translateY(-100%);
  width: 100%;
  background: var(--whiteOpacityClr);
  border-radius: 5px;
  transition: transform 0.3s ease-out;
}
.langSelector .langList__inner.active {
  transform: translateY(0%);
}
.langSelector .langList button:first-child {
  padding-bottom: 0;
}
.langSelector .langList button.selected {
  display: none;
}

.content {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 1em;
  z-index: 50;
}
.content__logoContainer {
  margin-top: 1em;
  place-self: start center;
  grid-area: logo;
  width: 65%;
}
.content__minerPicContainer img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 900px) {
  .content__minerPicContainer img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.content__minerPicContainer {
  height: 100%;
  position: relative;
  top: 25%;
}
@media screen and (max-width: 900px) {
  .content__minerPicContainer {
    top: 0;
  }
}
.content__minerPicContainer--first {
  grid-area: miner1;
  place-self: end start;
}
@media screen and (max-width: 900px) {
  .content__minerPicContainer--first {
    display: none;
  }
}
.content__minerPicContainer--second {
  grid-area: miner2;
  place-self: end center;
}
@media screen and (max-width: 900px) {
  .content__minerPicContainer--second {
    display: none;
  }
}
.content__cta {
  grid-area: cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.content__ctaLink {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  font-size: 2em;
  z-index: 20;
}
.content__ctaLink:first-child {
  font-size: 2.4em;
  padding: 0.3em 0.7em;
}
@media screen and (max-width: 900px) {
  .content__ctaLink:first-child {
    font-size: 1.7em;
  }
}
.content__ctaLink:nth-child(2) {
  margin-top: 0.5em;
  font-size: 1.4em;
  padding: 0.3em 1em;
  line-height: 0.9;
}
.content .socialMedia {
  grid-area: socialmedia;
  place-self: end center;
}

.content:first-of-type .content__top {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "miner1 logo miner2" "miner1 cta miner2" "miner1 socialmedia miner2";
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease-out, transform 0.2s ease-out;
}
@media screen and (max-width: 900px) {
  .content:first-of-type .content__top {
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "logo logo logo" ". cta ." "socialmedia socialmedia socialmedia";
  }
}
.content:first-of-type .socialMedia {
  width: 100%;
}
.content:first-of-type .socialMedia h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  color: var(--whiteClr);
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .content:first-of-type .socialMedia h2 {
    font-size: 1.1em;
  }
}
.content:first-of-type .socialMedia__iconsContainer {
  margin: 0.8em 0 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5%;
}
.content:first-of-type .socialMedia__item {
  width: 4em;
  height: 4em;
  position: relative;
  transition: transform 0.3s ease-out;
}
.content:first-of-type .socialMedia__item:hover {
  transform: scale(1.1);
}
.content:first-of-type .socialMedia__item img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2.2em;
  height: 2.2em;
  transform: translate(-50%, -50%);
}
.content:first-of-type .socialMedia__item .circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 4em;
  width: 4em;
}
.content:first-of-type .socialMedia__item .circle ellipse {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke: var(--whiteOpacityClr);
  stroke-width: 1.5;
  transition: stroke-dashoffset 0.5s ease-out, transform 0.4s ease-out;
  fill: transparent;
}
.content:first-of-type .socialMedia__item .circle:hover ellipse {
  stroke-dashoffset: 0;
  stroke-dasharray: 200;
}
.content:first-of-type .background {
  position: fixed;
  transition: filter 1.2s ease-out;
}
.content:first-of-type .background img {
  position: absolute;
  transition: transform 0.2s ease-out;
}
.content:first-of-type .background img:first-child {
  z-index: 5;
}
.content:first-of-type .background img:nth-child(2) {
  z-index: 15;
}
.content:first-of-type .background img:nth-child(3) {
  z-index: 20;
  bottom: -5%;
}
.content:first-of-type .background img:nth-child(4) {
  opacity: 0.5;
  z-index: 10;
  top: -30%;
  left: 0;
  width: 30%;
  -webkit-animation: moveCloud 60s infinite ease-out;
          animation: moveCloud 60s infinite ease-out;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 900px) {
  .content:first-of-type .background img:nth-child(4) {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
}
.content:first-of-type .background img:nth-child(5) {
  opacity: 0.5;
  z-index: 20;
  top: -20%;
  left: 0;
  width: 30%;
  z-index: 10;
  -webkit-animation: moveCloud 40s infinite ease-out;
          animation: moveCloud 40s infinite ease-out;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 900px) {
  .content:first-of-type .background img:nth-child(5) {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
}
.content:first-of-type .background img:nth-child(6) {
  z-index: 5;
  -webkit-animation: animateStars 1.5s linear infinite;
          animation: animateStars 1.5s linear infinite;
}
.content:first-of-type .background img:last-child {
  z-index: 5;
  -webkit-animation: animateStars2 1.5s linear infinite;
          animation: animateStars2 1.5s linear infinite;
}
@-webkit-keyframes animateStars {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(30%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes animateStars {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(30%);
  }
  100% {
    filter: brightness(100%);
  }
}
@-webkit-keyframes animateStars2 {
  0% {
    filter: brightness(30%);
  }
  50% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(30%);
  }
}
@keyframes animateStars2 {
  0% {
    filter: brightness(30%);
  }
  50% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(30%);
  }
}
@-webkit-keyframes moveCloud {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes moveCloud {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

.content:nth-of-type(2) {
  z-index: 60;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.content:nth-of-type(2) .content__top {
  position: relative;
  bottom: 0;
  transition: transform 0.2s ease-out;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(2) .content__top {
    bottom: unset;
  }
}
.content:nth-of-type(2) .seasonTitle {
  width: 100vw;
  padding: 2em;
  border-top: 3px solid var(--yellowClr);
  border-bottom: 3px solid var(--yellowClr);
  background: var(--blackOpacityClr);
  text-align: center;
  z-index: 30;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(2) .seasonTitle {
    padding: 1.2em 0.8em;
  }
}
.content:nth-of-type(2) .seasonTitle h3 {
  color: var(--whiteClr);
  font-size: 2.5em;
  letter-spacing: 2px;
}
.content:nth-of-type(2) .seasonTitle h3 span {
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(2) .seasonTitle h3 {
    font-size: 1.3em;
  }
}
.content:nth-of-type(2) .background {
  height: 200vh;
  transition: transform 0.2s ease-out, opacity 1s ease-out;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(2) .background {
    top: unset;
    bottom: 0;
    height: 100vh;
  }
}
.content:nth-of-type(2) .background .caveBackground {
  position: absolute;
  right: 3%;
  bottom: 15%;
  width: 50vw;
  height: 50vh;
  z-index: 30;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(2) .background .caveBackground {
    display: none;
  }
}
.content:nth-of-type(2) .background .caveBackground img {
  -o-object-fit: contain;
     object-fit: contain;
}
.content:nth-of-type(2) .background .caveBackground img:first-child {
  z-index: 10;
}
.content:nth-of-type(2) .background .caveBackground img:nth-child(2) {
  z-index: 15;
  opacity: 0.5;
}
.content:nth-of-type(2) .background .caveBackground img:last-child {
  z-index: 20;
}
.content:nth-of-type(2) .background img:first-child {
  z-index: 5;
}

.content:nth-of-type(3) {
  height: 150vh;
  background-color: var(--blackClr);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 160;
  padding: 0em 0 8em;
  box-shadow: -100px 30px 60px var(--blackClr), 100px 30px 60px var(--blackClr), -200px 30px 60px var(--blackClr), 200px 30px 60px var(--blackClr);
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(3) {
    padding: 0;
    box-shadow: none;
  }
}
.content:nth-of-type(3) .content__top {
  z-index: 20;
  position: absolute;
  top: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(3) .content__top {
    width: 65%;
  }
}
.content:nth-of-type(3) .content__top h4 {
  font-size: 1.8em;
  color: var(--whiteClr);
  text-align: center;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(3) .content__top h4 {
    font-size: 1.3em;
  }
}
.content:nth-of-type(3) .content__top h3 {
  font-size: 2.5em;
  margin-top: 0.5em;
  line-height: 1.1;
  color: var(--whiteClr);
  text-align: center;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(3) .content__top h3 {
    font-size: 1.8em;
  }
}
.content:nth-of-type(3) .content__top p {
  font-size: 1.1em;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 1em;
}
.content:nth-of-type(3) .content__top a {
  border: 1px solid var(--whiteClr);
  margin-top: 2em;
  border-radius: 10px;
  padding: 0.4em 1em;
  background: var(--blackOpacityClr);
  font-size: 1.7em;
  text-transform: uppercase;
  color: var(--whiteClr);
  font-family: var(--rifficFreeBold);
  letter-spacing: 1.6px;
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
}
.content:nth-of-type(3) .content__top a:hover {
  background: var(--purpleOpacityClr);
  box-shadow: 0 0 30px 10px var(--purpleOpacityClr);
}
.content:nth-of-type(3) .background {
  width: 100%;
  z-index: 10;
  position: relative;
}
.content:nth-of-type(3) .background #particles-js {
  z-index: 8;
  position: absolute;
  width: 50%;
  left: 25%;
  height: 100%;
}
.content:nth-of-type(3) .background img {
  position: absolute;
  top: 0;
  transition: transform 0.4s ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.content:nth-of-type(3) .background img:first-child {
  z-index: 6;
}
.content:nth-of-type(3) .background img:nth-child(2) {
  z-index: 5;
}
.content:nth-of-type(3) .background img:nth-child(3) {
  z-index: 4;
}
.content:nth-of-type(3) .background img:nth-child(4) {
  z-index: 3;
}
.content:nth-of-type(3) .background img:nth-child(5) {
  z-index: 2;
}
.content:nth-of-type(3) .background img:nth-child(6) {
  z-index: -1;
}

.content:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--blackClr);
  position: relative;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) {
    height: 100%;
    z-index: 170;
    box-shadow: -100px -130px 160px var(--blackClr), 100px -130px 160px var(--blackClr), -200px -130px 160px var(--blackClr), 200px -130px 160px var(--blackClr);
  }
}
.content:nth-of-type(4) .content__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 80%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left {
    width: 100%;
    height: 100%;
  }
}
.content:nth-of-type(4) .content__left .titleContainer h3 {
  color: var(--yellowClr);
  font-size: 3em;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .titleContainer h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }
}
.content:nth-of-type(4) .content__left .selectedMiner__info {
  position: relative;
  padding: 1em;
  border-radius: 15px;
  z-index: 10;
  width: 90%;
  min-height: 30%;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .selectedMiner__info {
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
  }
}
.content:nth-of-type(4) .content__left .selectedMiner__info .selectedMiner__title {
  border-bottom: 1px solid var(--whiteClr);
  color: var(--yellowClr);
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 1.3em;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .selectedMiner__info .selectedMiner__title {
    font-size: 1em;
  }
}
.content:nth-of-type(4) .content__left .selectedMiner__info p {
  padding: 0.5em 0.8em;
  color: var(--whiteClr);
  font-family: var(--varelaRoundFont);
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 0.9em;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .selectedMiner__info p {
    padding: 0.5em 0.2em;
    font-size: 0.7em;
  }
}
.content:nth-of-type(4) .content__left .minerChoice {
  width: 100%;
}
.content:nth-of-type(4) .content__left .minerChoice__minerTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  bottom: -0.35em;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .minerChoice__minerTypes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.content:nth-of-type(4) .content__left .minerChoice__miner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  width: 20%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .minerChoice__miner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 40%;
    margin-bottom: 1.5em;
  }
}
.content:nth-of-type(4) .content__left .minerChoice__picture {
  position: relative;
  height: 4.5em;
  width: 4.5em;
  background: var(--whiteClr);
  border: 2px solid var(--diamondPinkClr);
  border-radius: 50%;
  filter: grayscale(100%);
  transition: filter 0.3s ease-out, transform 0.3s ease-out;
  z-index: 10;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .minerChoice__picture {
    height: 2em;
    width: 2em;
  }
}
.content:nth-of-type(4) .content__left .minerChoice__picture:hover {
  filter: grayscale(0%);
  transition-delay: 0s, 0.6s;
}
.content:nth-of-type(4) .content__left .minerChoice__picture.colored {
  filter: grayscale(0%);
  transform: scale(1.07);
}
.content:nth-of-type(4) .content__left .minerChoice__picture::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  border: 3px outset var(--yellowClr);
  opacity: 0.5;
  -webkit-animation: rotateCircle 7s ease-in-out infinite;
          animation: rotateCircle 7s ease-in-out infinite;
  transition: background 0.3s ease-out, border 0.5s ease-out;
}
@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content:nth-of-type(4) .content__left .minerChoice__picture img {
  height: 100%;
  width: 100%;
}
.content:nth-of-type(4) .content__left .minerChoice__additionalInfo {
  margin-bottom: 1.5em;
  width: 100%;
  color: var(--whiteClr);
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .minerChoice__additionalInfo {
    margin-bottom: 0;
    margin-top: 1em;
  }
}
.content:nth-of-type(4) .content__left .minerChoice__additionalInfo h4 {
  transition: color 0.4s ease-out;
  text-align: center;
  position: relative;
  font-size: 0.8em;
  letter-spacing: 1.5px;
}
.content:nth-of-type(4) .content__left .minerChoice__additionalInfo.active h4 {
  color: var(--yellowClr);
}
.content:nth-of-type(4) .content__left .minerChoice__selectionBar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.content:nth-of-type(4) .content__left .minerChoice__selectionBar::before {
  position: absolute;
  content: "";
  width: 110%;
  left: -5%;
  height: 1px;
  background: var(--whiteClr);
  border-radius: 20px;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .minerChoice__selectionBar::before {
    display: none;
  }
}
.content:nth-of-type(4) .content__left .minerChoice__selectionBar .movingCircle {
  position: absolute;
  transition: transform 0.5s ease-out;
  left: 8.5%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__left .minerChoice__selectionBar .movingCircle {
    display: none;
  }
}
.content:nth-of-type(4) .content__left .minerChoice__selectionBar .movingCircle__roundedCircle {
  position: absolute;
  bottom: -0.7em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid var(--diamondPinkClr);
  background: var(--whiteClr);
}
.content:nth-of-type(4) .content__left .minerChoice__selectionBar .movingCircle__roundedCircle::before {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--lightPurpleClr);
}
.content:nth-of-type(4) .content__left .minerChoice__selectionBar .movingCircle__verticalBar {
  position: absolute;
  bottom: 0;
  left: 0.7em;
  width: 1px;
  height: 0.8em;
  background: var(--diamondPinkClr);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
}
.content:nth-of-type(4) .content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 40%;
  height: 80%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .content__right {
    position: absolute;
    right: -6%;
    top: 5%;
    width: 80%;
    height: 50%;
  }
}
.content:nth-of-type(4) .content__right .playNowBtn {
  border: 1px solid var(--purpleClr);
  padding: 0.5em 1em;
}
.content:nth-of-type(4) .content__right .selectedMiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 90vh;
  width: 100%;
}
.content:nth-of-type(4) .content__right .selectedMiner__picture {
  height: 100%;
  width: 100%;
  position: relative;
}
.content:nth-of-type(4) .content__right .selectedMiner__image {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.content:nth-of-type(4) .content__right .selectedMiner__image.show {
  opacity: 1;
}
.content:nth-of-type(4) .content__right .selectedMiner__image:first-child {
  height: 68%;
  bottom: 0;
  left: 34%;
}
.content:nth-of-type(4) .content__right .selectedMiner__image:nth-child(2) {
  height: 108%;
  bottom: -18.5%;
  left: 10.5%;
}
.content:nth-of-type(4) .content__right .selectedMiner__image:nth-child(3) {
  height: 133%;
  bottom: -29.8%;
  left: 11.5%;
}
.content:nth-of-type(4) .content__right .selectedMiner__image:nth-child(4) {
  height: 125%;
  bottom: -24.5%;
  left: 4%;
}
.content:nth-of-type(4) .content__right .selectedMiner__image:nth-child(5) {
  height: 89%;
  left: 17.5%;
  bottom: -7.8%;
}
.content:nth-of-type(4) .background {
  height: 200vh;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(4) .background {
    height: 200%;
  }
}

.content:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em 0 1em 3em;
  z-index: 190;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) {
    padding: 1em;
  }
}
.content:nth-of-type(5) .content__top {
  align-self: flex-start;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__top {
    align-self: center;
  }
}
.content:nth-of-type(5) .content__top .titleContainer {
  color: var(--yellowClr);
  font-size: 3em;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__top .titleContainer {
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}
.content:nth-of-type(5) .content__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 80%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 30%;
  height: 70%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .mineSelector {
    width: 90%;
    height: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 3em;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .mineSelector__item {
    width: unset;
    height: unset;
  }
  .content:nth-of-type(5) .content__bottom .mineSelector__item:hover {
    filter: drop-shadow(0px 0px 10px var(--yellowClr));
  }
  .content:nth-of-type(5) .content__bottom .mineSelector__item:nth-child(3), .content:nth-of-type(5) .content__bottom .mineSelector__item:nth-child(4) {
    filter: grayscale(100%);
  }
  .content:nth-of-type(5) .content__bottom .mineSelector__item + * {
    margin-left: 0.4em;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector__flipFace {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  cursor: pointer;
  transition: transform 0.5s ease-out;
  transform-style: preserve-3d;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .mineSelector__flipFace {
    display: none;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector__flipFace + * {
  margin-top: 5em;
}
.content:nth-of-type(5) .content__bottom .mineSelector__flipFace.revealed {
  transform: rotateX(90deg);
}
.content:nth-of-type(5) .content__bottom .mineSelector__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.content:nth-of-type(5) .content__bottom .mineSelector__front {
  transform: translateZ(0.5em);
}
.content:nth-of-type(5) .content__bottom .mineSelector__back {
  transform: rotateX(-90deg) translateZ(0.5em);
}
.content:nth-of-type(5) .content__bottom .mineSelector__back h4 {
  color: var(--yellowClr);
}
.content:nth-of-type(5) .content__bottom .mineSelector__picture {
  position: absolute;
  width: 5em;
  top: -1.2em;
  left: -10%;
  z-index: 30;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .mineSelector__picture {
    position: relative;
    top: unset;
    left: unset;
    width: 3.5em;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector__picture--bigger {
  width: 6.5em;
  left: -13%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .mineSelector__picture--bigger {
    left: unset;
    width: 5.5em;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector__picture--bigger2 {
  width: 5.5em;
  left: -11%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .mineSelector__picture--bigger2 {
    left: unset;
    width: 4.5em;
  }
}
.content:nth-of-type(5) .content__bottom .mineSelector__title {
  padding: 0.3em 0.7em 0.3em 2em;
  color: var(--whiteClr);
  border-left: none;
  border-right: none;
  text-align: right;
  font-size: 1.5em;
  width: 100%;
}
.content:nth-of-type(5) .content__bottom .selectedMine {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 61%;
  height: 76%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .selectedMine {
    width: 100%;
  }
}
.content:nth-of-type(5) .content__bottom .selectedMine__picture {
  border: 2px solid var(--whiteOpacityClr);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: var(--blackClr);
}
.content:nth-of-type(5) .content__bottom .selectedMine__picture video {
  position: absolute;
  width: 101%;
  left: -1%;
  height: 102%;
  top: -1%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(5) .content__bottom .selectedMine__picture video {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.content:nth-of-type(5) .content__bottom .selectedMine__picture .playButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12em;
  height: 12em;
  background: none;
  border: none;
  z-index: 40;
  transition: opacity 0.3s ease-out;
}
.content:nth-of-type(5) .content__bottom .selectedMine__picture .playButton img {
  width: 100%;
  height: 100%;
}
.content:nth-of-type(5) .content__bottom .selectedMine__picture .playButton.clicked {
  opacity: 0;
}
.content:nth-of-type(5) .content__bottom .selectedMine__picture .playButton::before {
  content: "";
  position: absolute;
  border: 15px solid var(--yellowClr);
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  -webkit-animation: bloom 4s linear infinite;
          animation: bloom 4s linear infinite;
  opacity: 0;
  z-index: -1;
}
@-webkit-keyframes bloom {
  0% {
    transform: scale(0.5);
  }
  40% {
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  55% {
    transform: scale(1.32);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.35);
    opacity: 0.4;
  }
  65% {
    transform: scale(1.4);
    opacity: 0.2;
  }
  70% {
    transform: scale(1.45);
    opacity: 0;
  }
  100% {
    transform: scale(1.42);
    opacity: 0;
  }
}
@keyframes bloom {
  0% {
    transform: scale(0.5);
  }
  40% {
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  55% {
    transform: scale(1.32);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.35);
    opacity: 0.4;
  }
  65% {
    transform: scale(1.4);
    opacity: 0.2;
  }
  70% {
    transform: scale(1.45);
    opacity: 0;
  }
  100% {
    transform: scale(1.42);
    opacity: 0;
  }
}
.content:nth-of-type(5) .content__bottom .selectedMine__cta {
  border: 1px solid var(--purpleClr);
  margin-bottom: 0.7em;
}
.content:nth-of-type(5) .content__bottom .selectedMine__cta a {
  display: block;
  padding: 0.5em 2em;
  font-size: 1.2em;
  color: var(--whiteClr);
  background: var(--blackOpacityClr);
}

.content:nth-of-type(6) {
  background-color: var(--purpleClr);
  padding: 15em 0 1em;
  height: 100%;
}
.content:nth-of-type(6) .background img {
  height: 101%;
  top: -1%;
}
.content:nth-of-type(6) .content__top h3 {
  color: var(--whiteClr);
  font-size: 2.6em;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__top h3 {
    font-size: 2em;
  }
}
.content:nth-of-type(6) .content__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5% 0;
  position: relative;
}
.content:nth-of-type(6) .content__bottom .swiperSelector {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 60%;
  z-index: 50;
  box-shadow: 0 0 20px 0 var(--whiteClr2);
  border-radius: 50px 50px 0 0;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__bottom .swiperSelector {
    box-shadow: none;
    top: 2%;
    height: 15%;
    width: 60%;
    z-index: 70;
  }
}
.content:nth-of-type(6) .content__bottom .swiperSelector__left {
  position: absolute;
  left: -13.5%;
  bottom: 4%;
  padding: 6% 7%;
  background: var(--blackOpacityClr);
  border-radius: 40px 0 0 40px;
  box-shadow: 0 0 12px var(--whiteClr2);
  cursor: pointer;
  z-index: 70;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__bottom .swiperSelector__left {
    background: none;
    box-shadow: none;
  }
}
.content:nth-of-type(6) .content__bottom .swiperSelector__left:hover .swiperSelector__icon {
  background: var(--yellowClr);
}
.content:nth-of-type(6) .content__bottom .swiperSelector__left:hover img {
  filter: invert(50%);
}
.content:nth-of-type(6) .content__bottom .swiperSelector__right {
  position: absolute;
  right: -13.5%;
  bottom: 4%;
  padding: 6% 7%;
  background: var(--blackOpacityClr);
  border-radius: 0 40px 40px 0;
  box-shadow: 0 0 12px var(--whiteClr2);
  cursor: pointer;
  z-index: 70;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__bottom .swiperSelector__right {
    background: none;
    box-shadow: none;
  }
}
.content:nth-of-type(6) .content__bottom .swiperSelector__right:hover .swiperSelector__icon {
  background: var(--yellowClr);
}
.content:nth-of-type(6) .content__bottom .swiperSelector__right:hover img {
  filter: invert(50%);
}
.content:nth-of-type(6) .content__bottom .swiperSelector__icon {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: 4em;
  background: var(--grayClr);
  border-radius: 50%;
  z-index: 20;
  transition: background 0.2s linear;
}
.content:nth-of-type(6) .content__bottom .swiperSelector__icon img {
  position: inherit;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.content:nth-of-type(6) .content__bottom .blogUpdatesSwiper {
  border-radius: 50px;
  width: 70%;
  height: 100%;
  overflow: hidden;
  z-index: 60;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__bottom .blogUpdatesSwiper {
    width: 94%;
  }
}
.content:nth-of-type(6) .content__bottom .featured-post {
  height: 100%;
  cursor: pointer;
}
.content:nth-of-type(6) .content__bottom .featured-post__link {
  width: 100%;
  height: 100%;
}
.content:nth-of-type(6) .content__bottom .featured-post__item {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
}
.content:nth-of-type(6) .content__bottom .featured-post__picture {
  height: 55vh;
  overflow: hidden;
}
.content:nth-of-type(6) .content__bottom .featured-post__picture:hover img {
  transform: scale(1.04) rotate(-0.5deg);
}
.content:nth-of-type(6) .content__bottom .featured-post__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  transition: transform 0.4s ease-out;
}
.content:nth-of-type(6) .content__bottom .featured-post__about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5em 1.5em 1.8em;
  background: linear-gradient(to bottom, var(--blackOpacityClr) 30%, var(--orangeOpacityClr));
  border-radius: 0 0 50px 50px;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__bottom .featured-post__about {
    padding: 2.5em 1.2em 1.2em;
  }
}
.content:nth-of-type(6) .content__bottom .featured-post__about::before {
  content: "";
  position: absolute;
  top: -16%;
  left: 48%;
  width: 3.4em;
  height: 3.8em;
  background: url("../img/pickAxeShield.png") no-repeat;
  background-size: 100%;
}
.content:nth-of-type(6) .content__bottom .featured-post__title {
  color: var(--whiteClr);
  font-size: 2.5em;
  text-align: center;
  text-transform: none;
}
.content:nth-of-type(6) .content__bottom .featured-post__title::first-letter {
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(6) .content__bottom .featured-post__title {
    font-size: 2em;
  }
}
.content:nth-of-type(6) .content__bottom .featured-post__description {
  margin-top: 1.2em;
  color: var(--whiteClr);
  width: 80%;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  font-weight: lighter;
  font-family: var(--varelaRoundFont);
}

.content:nth-of-type(7) {
  height: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--purpleClr);
}
.content:nth-of-type(7) .background img {
  height: 101%;
  top: -1%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) {
    z-index: 190;
  }
}
.content:nth-of-type(7) .titleContainer {
  color: var(--whiteClr);
  font-size: 3em;
  text-align: center;
  margin-bottom: 2em;
}
.content:nth-of-type(7) .content__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 80%;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .content__bottom {
    width: 100%;
  }
}
.content:nth-of-type(7) .content__bottom .team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .content__bottom .team {
    width: 70%;
  }
}
.content:nth-of-type(7) .content__bottom .team::before {
  content: "";
  position: absolute;
  left: -1em;
  top: 20%;
  width: 1em;
  height: 50%;
  background-color: transparent;
  z-index: 30;
  box-shadow: 0 0px 200px 120px var(--purpleClr);
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .content__bottom .team::before {
    display: none;
  }
}
.content:nth-of-type(7) .content__bottom .team::after {
  content: "";
  position: absolute;
  right: -1em;
  top: 20%;
  width: 1em;
  height: 60%;
  background-color: transparent;
  z-index: 30;
  box-shadow: 0 0px 200px 120px var(--purpleClr);
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .content__bottom .team::after {
    display: none;
  }
}
.content:nth-of-type(7) .content__bottom .partners {
  margin: 2em;
  width: 60%;
}
.content:nth-of-type(7) .swiper {
  width: 100%;
}
.content:nth-of-type(7) .swiper-slide-img {
  position: relative;
  height: 14em;
  transition: transform 0.5s ease-out, filter 0.3s ease-out;
  transform-style: preserve-3d;
}
.content:nth-of-type(7) .swiper-slide-img img {
  width: 100%;
  height: 100%;
  bottom: -0.3em;
  -o-object-fit: contain;
     object-fit: contain;
}
.content:nth-of-type(7) .swiper-slide-img.isFlipped {
  transform: rotateY(180deg);
}
.content:nth-of-type(7) .swiper-slide-face {
  position: absolute;
  border: 2px solid var(--yellowClr);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: filter 0.2s linear;
}
.content:nth-of-type(7) .swiper-slide-face:hover {
  filter: brightness(120%);
}
.content:nth-of-type(7) .swiper-slide-face-front {
  background: linear-gradient(to top, var(--blackClr) 23%, var(--darkPurpleClr));
}
.content:nth-of-type(7) .swiper-slide-face-back {
  transform: rotateY(180deg);
  background: linear-gradient(to bottom, var(--blackClr) 23%, var(--darkPurpleClr));
}
.content:nth-of-type(7) .swiper-slide .personalNetworks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.content:nth-of-type(7) .swiper-slide .personalNetworks img {
  width: 3em;
}
.content:nth-of-type(7) .swiper-slide .personalNetworks a {
  transition: transform 0.3s linear;
}
.content:nth-of-type(7) .swiper-slide .personalNetworks a:hover {
  transform: scale(1.05);
}
.content:nth-of-type(7) .swiper-slide .personalNetworks a + a {
  margin-left: 1em;
}
.content:nth-of-type(7) .swiper-slide h4 {
  margin-top: 0.8em;
  font-size: 1.5em;
  color: var(--whiteClr);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.content:nth-of-type(7) .swiper-slide p {
  margin: 0.7em 0;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: var(--yellowClr);
  font-weight: 700;
}
.content:nth-of-type(7) .teamCategorySelBar {
  width: 60%;
  margin: 2em 0 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.content:nth-of-type(7) .teamCategorySelBar__item {
  position: relative;
  width: 22%;
  height: 4em;
  cursor: pointer;
}
.content:nth-of-type(7) .teamCategorySelBar__item::before {
  content: "";
  position: absolute;
  top: 45%;
  width: 100%;
  height: 0.3em;
  background: var(--whiteClr);
  border-radius: 8px;
  transition: filter 0.3s ease-out, background 0.2s linear;
}
.content:nth-of-type(7) .teamCategorySelBar__item:hover::before {
  background: var(--diamondPinkClr);
  filter: drop-shadow(0 5px 10px var(--diamondPinkClr));
}
.content:nth-of-type(7) .teamCategorySelBar__item.clicked::before {
  background: var(--diamondPinkClr);
}
.content:nth-of-type(7) .listedPartners {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.content:nth-of-type(7) .listedPartners__logo {
  position: relative;
  width: 10em;
  height: 100%;
  transition: filter 0.3s ease-out, transform 0.4s ease-out;
}
.content:nth-of-type(7) .listedPartners__logo:hover {
  filter: drop-shadow(-2px -2px 40px var(--purpleOpacityClr)) drop-shadow(2px 2px 40px var(--purpleOpacityClr));
  transform: scale(1.05);
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .listedPartners__logo {
    width: 7em;
  }
}
.content:nth-of-type(7) .listedPartners__logo:nth-child(2) {
  width: 13em;
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .listedPartners__logo:nth-child(2) {
    width: 9.5em;
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .listedPartners__logo:last-child {
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 900px) {
  .content:nth-of-type(7) .listedPartners .listedPartners__logo:last-child {
    margin-top: 1.2em;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  height: 5vh;
  width: 100%;
  background-color: var(--darkPurpleClr);
  z-index: 200;
}
footer h4 {
  color: var(--whiteClr);
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */